<html id="html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ENBW Beer List</title>
  <link rel="stylesheet" href="../assets/css/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700" rel="stylesheet"/>
</head>

<body>
  <img id="beer-list" src="../uploads/beer/beer-list.svg" alt="Beer list">
  <div id="white-container">
	  <div id="beers">
	  </div>
      <% @beers.each do |beer| %>
      <% @beers.index.sort %>
    	<% if beer.ontap == true && beer.tier == "1" %>
        	<div class="beer">
    			<div class="logo-and-text">
    				<%= image_tag (beer.image), :class => "enbw-logo" %>
    				<div class="beer-text">
    					<div class="beer-name"><%= beer.name %></div>
    					<div class="beer-tagline"><%= beer.tagline %></div>
    				</div>
    			</div>
    		        <div class="abv-and-tier">
    		        	<div class="beer-abv">
    		          		<div class="abv-text">ABV</div>
    				        <div class="abv-content"><%= beer.abv %>%</div>
    		        	</div>
    		       		<div class="beer-tier">
    		         		<div class="beer-tier-text">TIER</div>
    		          		<div class="beer-tier-content"><%= beer.tier %></div>
    		        	</div>
    		      	</div>
    		</div>
    	<% end %>
      <% end %>
</div>
<div class="tier-pricing">
    <div class="tier">
      <div class="tier-main-name">TIER 1</div>
      <div class="taster">
        <div class="tier-name">TASTER</div>
        <div class="tier-content">$2</div>
      </div>
      <div class="half-pint">
        <div class="tier-name">HALF PINT</div>
        <div class="tier-content">$3</div>
      </div>
      <div class="pint">
        <div class="tier-name">PINT</div>
        <div class="tier-content">$5</div>
      </div>
      <div class="crowler">
        <div class="tier-name">CROWLER</div>
        <div class="tier-content">$8</div>
      </div>
      <div class="growler">
        <div class="tier-name">GROWLER FILL</div>
        <div class="tier-content">$13</div>
      </div>
    </div>
</div>

</body>
</html>
