<h2>Fruited Miro Miel - Honey Blonde w/rotating real fruit added</h2>
<p>Our flagship, Miro Miel Honey Blonde, but a rotating fruited varietal. We started with Strawberry and Grapefruit, round two is Peach and Apricot. Super delicious. </p>
<h2>Dickerson Dunkel - Munich Dunkel Lager</h2>
<p>Munich Dunkel, dark in color, malt forward, lagered to perfection. </p>
<h2>Trigo Azul - Blueberry Wheat</h2>
<p>Light Hefe base with farm fresh blueberries. Crushable summer beer, 1st cousin of our BlackBerry Wheat, \Augustfest\</p>
<h2>Young Hickory - Smoked Porter</h2>
<p>Young Hickory is a lightly smoked porter. We smoke our own grain over hickory chips, to get a nice light smoke flavor, blended with chocolate and brown malts. at 4.5% Makes for a great session porter to sip on by the fire pit. </p>
<h2>Explorer's Icy Ale - Hoppy Blonde Ale</h2>
<p>Brewed specially for Friendly Artic (East Nashville merch company) for their 10-Year Anniversary. Light Blonde, with some honey added, and slightly more hop punch than Miro. Dialed down to a crushable 4.5%.</p>
<h2>Fire of the Century - Red Ale</h2>
<p>Fire of the Century is named for the infamous East Nashville fire from over 100 years ago. Malty Red Ale with some really nice notes and features NZ hop varieties. </p>
<h2>AugustFest - Blackberry Wheat</h2>
<p>Our anniversary brew, this crushable wheat is a gem featuring<br />local blackberries.</p>
<h2>Wes Coast Hamatrillo - West Coast Style IPA</h2>
<p>West Coast style IPA featuring Amarillo and Citra hops brewed in honor of the late Wes Taylor. </p>
<h2>Roaming Dog - American Special Bitter</h2>
<p>Our American Special Bitter features a rich caramel malt body with the classic APA, Cascade hops. It's an ESB and an APA combined. </p>
<h2>KrautRock - Pale Ale</h2>
<p>A fruity Pale Ale with all German malt and all German hops.</p>
<h2>mystic munich dunkel - dunkel lager</h2>
<p>A Munich Dunkel lager, featuring the Mystic Cold Brew Coffee blend from Nashville’s Bongo Java Coffee Company.<br /></p>
<h2>Brut Willis - Brut IPA</h2>
<p>Champagne meets IPA. This new San Francisco style of IPA is aromatic, crisp, and refreshing with a very dry finish.</p>
<h2>Woodland Street - Session IPA</h2>
<p>A bright and hoppy Session IPA showcasing the newer fruity and floral hop varieties. Hops include Mosaic, Simcoe, Centennial and Magnum.</p>
<h2>Cumberland Punch - American Wheat Ale</h2>
<p>Our American wheat ale is perfect on a hot summer day. Orange in color, busting with flavor, this is a crushable wheat beer with a slight hop and smooth, refreshing citrus finish.</p>
<h2>Miro Miel - Honey Blonde Ale</h2>
<p>An American style blonde ale brewed with real, Tennessee honey. We source local honey to provide a floral aroma and flavor to balance the pilsner malt. Our flagship brew has a light bitterness and clean, crisp finish.</p>
