body {
    background-color: #f4efe6;
    height: 100%;
}
/* Fonts */

.beer-name {
    font-family: Roboto;
    font-weight: bold;
    color: #233746;
    letter-spacing: 0.125rem;
    font-size: 1.875rem;
}

.beer-tagline {
    font-family: Roboto;
    color: #6e757b;
    font-size: 1.5625rem;
}

.abv-text, 
.beer-tier-text {
    font-family: Roboto;
    color: #d2b887;
    font-size: 1.5rem;
}

.abv-content,
.beer-tier-content {
    font-family: RobotoSlab;
    font-weight: bold;
    text-align: center;
    color: #233746;
    font-size: 1.8rem;

}

.guest-name {
    font-family: RobotoSlab;
    font-weight: bold;
    text-align: right;
    color: #233746;
    margin-right: 1.25rem;
}

.guest-price {
    font-family: RobotoSlab;
    font-weight: bold;
    color: #233746;
}

.tier-main-name {
    font-family: RobotoSlab;
    font-weight: bold;
    font-size: 1.875rem;
    color: #6e757b;
    margin-top: .5rem
}

.tier-name {
    font-family: Roboto;
    color: #988561;
    text-align: center;
}

.tier-content {
    font-family: RobotoSlab;
    font-weight: bold;
    font-size: 2rem;
    color: #233746;
    text-align: center;
}





/* Layout */

a:link {
	text-decoration: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%
}

#beer-list {
	display: block;
	margin: 0 auto;
    width: 50%;
    height: 7.125rem;
}

#white-container {
    background-color: #ffffff;
    margin: -3.75rem auto;
    width: 97%;
	height: auto;
    box-shadow: 0 0.6875rem 32.125rem 0 rgba(151,145,135,0.16);
}

#beers {
	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
	margin-top: 1.35rem;
}

/*.beer:nth-child(even) {
	border-left: solid 2px #ede5d7;
	margin-left: -12px;
	padding-left: 6px
}*/

.beer {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.beer:hover {
	cursor: pointer;
}

.beer:hover .beer-name {
	color: #18bfef;
}

.beer:nth-child(-n+2){
	margin-top: 3.75rem;
}

.beer-logo {
	height: 6.71875rem;
	width: 6.71875rem;
	margin-top:-1rem;
}

.enbw-logo {	
	height: 5.546875rem;
	width: 4.374375rem;
	padding-right: 0.9375rem;
	padding-left: 1.25rem;
}

.logo-and-text {
	display: flex;
	flex-direction: row;
}

.abv-and-tier {
	display: flex;
	flex-direction: row;
}

.beer-abv,
.beer-tier {
	padding-right: 2rem;
}

#wine-cider {
	justify-content: center;
	flex-direction: column;
}

#wine-cider-list {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	margin-top: 2rem;
}

.guest-total {
	display: flex;
	flex-direction: row;
	padding-right: 2rem;
	justify-content: right;
	margin-left: auto;
	font-size: 1rem;
}

.beer:last-child {
	margin-bottom: 1.75rem;
	margin-left: auto;
	cursor: auto;
}

/* adjust wine-cider-list if there are 12 beers */
.beer:first-child:nth-last-child(13) ~ .beer:last-child {
	margin-top: -1.3rem;
}

.tier-pricing {
	display: flex;
	cursor: default;
	margin: 5rem auto;
	width: 92%;
}

.tier {
	display: flex;
	margin: -.75rem auto;
    width: 50%;
    height: 7.125rem;
    justify-content: space-around;
}

/* Modals */

.modal{
	display:none;
	position: fixed;
	z-index: 1;
	left:0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal-content{
	background-color: #f4f4f4;
	margin: 10% auto 0;
	padding: 1.25rem;
	width: 70%;
	max-width: 800px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 1.25rem 0 rgba(0, 0, 0, 0.17);
}

.closeBtn{
	color: #ccc;
	float: right;
	font-size: 1.875rem;
}

.closeBtn:hover, .closeBtn:focus{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-heading,
.modal-subheading,
.modal-footer {
	text-align: center;
}

.modal-heading,
.modal-subheading,
.modal-paragraph {
	font-family: RobotoSlab;
    font-weight: bold;
    color: #233746;
}

.modal-heading {
	margin-bottom: -1.5625rem;
}

.modal-paragraph{
	text-align: justify;
}

.modal-footer {
	font-family: Roboto;
    color: #6e757b;
}

.modal-logo {
	height: 10.75rem;
	width: 10.75rem;
	display: block;
	margin: 0 auto;
    width: 50%;
}

/* Type */

@media screen and (max-width: 1920px) {

	html {
		font-size: 16.5pt;
	}
}

@media screen and (max-width: 1450px) {

	html {
		font-size: 11pt;
	}

}

@media screen and (max-width: 800px) {

	html {
		font-size: 9.5pt;
	}
}

@media screen and (max-width: 450px) {

	html {
		font-size: 8pt;
	}

}


@media only screen and (max-width: 999px) {

	body {
		position: static;
	}

    #beers {
    	flex-direction: column;
    }

    .beer {
	width: 100%;
	}

	.beer:nth-child(2){
		margin-top: 0;
	}

	.tier-pricing {
		flex-direction: column;
		width: 90%;
	}

	.tier {
		width: 100%;
	}
	
	#wine-cider {
		padding-left: 0.9375rem;
	}

	#white-container {
		width:100%;
		height: auto;
	}

	#tier-2 {
		border-top: solid 0.125rem #6e757b;
		padding-top: 1.75rem;
		margin-top: -2.25rem;
	}

}

@media only screen and (min-width: 1000px) {
	#beers {
		align-content: space-between;
	}
}

@media (device-width: 100vw) and (device-height: 100vh) {
	body {
		position: fixed;
	}
	#white-container {
		height: 82%;
	}
}

.thirteenBeers *{
    
}

#hidden {
    display: none
}
